<a href="https://colab.research.google.com/github/dasaparnabme07/Introduction-to-Python/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#original string
original_string = "Hello"

#attempt to change a character
try:
    original_string[0] = "J"
except TypeError as e:
    print (f"Error:{e}")

# stings can not be changed because its immutable but we can modify the string
modified_string = "J" + original_string[1:]
print("Modified String: ", modified_string)

Error:'str' object does not support item assignment
Modified String:  Jello

In [ ]:
# Indexing
char_at_position_2= original_string[2]
print("Character at index 2:",char_at_position_2)

#slicing
sub_string = original_string[1:4]
print("Substring from index 1 to 4:",sub_string)

Character at index 2: l
Substring from index 1 to 4: ell

In [ ]:
#Concatenating string
greeting = "Hello"
name = "Pias"
full_greeting = greeting + "," + name +"!"
print ("Full Greeting: ", full_greeting)

Full Greeting:  Hello,Pias!

In [ ]:
#Repeating strings
repeated_string = "Pias" * 5
print("Repeated String: ", repeated_string)

Repeated String:  PiasPiasPiasPiasPias

In [ ]:
#String formating using place holders
into_format_name = "My name is{name} and I am {age} years old.".format(name= " Pias", age=25)
print("Formatted String: ", into_format_name)

Formatted String:  My name is Pias and I am 25 years old.

In [ ]:
#f-string with calculation
name = "Pias"
age = 5
formatted_string = f"My name is {name} and I am {age} years old."
print("Formatted String: ", formatted_string)

Formatted String:  My name is Pias and I am 5 years old.

In [ ]:
# f-string with calculation
name = "Pias"
age = 5
square_age= f"{name}'s age squared is {age**2}."
print("f-string with calculation:", square_age)

f-string with calculation: Pias's age squared is 25.

Lists

In [ ]:
#python lists
numbers= [1,2,3,4,5]
print("List of numbers:", numbers)

# create a list with mixed datatypes
mixed_list = [1, "Hello", 3.14, True]
print("Mixed List:", mixed_list)

# access elements by index
first_element = mixed_list[0]
print("First Element:", first_element)

#modify elements by index
mixed_list[0] = "World"
print("Modified List:", mixed_list)

#append list
numbers.append(6)
print("Appended List:", numbers)

#extend list
numbers.extend([7,8,9])
print("Extended List:", numbers)

#insert list
numbers.insert(0,0)
print("Inserted List:", numbers)

#remove item
numbers.remove(6)
print("Removed List:", numbers)

#pop item
popped_item = numbers.pop()
print("Popped Item:", popped_item)

#remove an item from specific position
del numbers[0]
print("Deleted List:", numbers)

list_1= [1,2,3]
list_2= [4,5,6]
concatenated_list = list_1 + list_2
print("Concatenated List:", concatenated_list)

#list Comprehension
#create a list of squares from another list
sqaurs = [x**2 for x in numbers]
print("Squared List:", sqaurs)

#Filter the list to include only even numbers
even_numbers = [x for x in numbers if x % 2 == 0]
print("Even Numbers:", even_numbers)

fruits = ['apple', 'banana','cherry', 'orange']
#using simple for loop to traverse the list
for fruit in fruits:
  print(fruit)

#using enumerate to get both index and value
for index, fruit in enumerate(fruits):
  print(f"Index: {index}, Fruit: {fruit}")

#Traverse with a while loop
i= 0
while i<len(fruits):
  print(fruits[i])
  i += 1

List of numbers: [1, 2, 3, 4, 5]
Mixed List: [1, 'Hello', 3.14, True]
First Element: 1
Modified List: ['World', 'Hello', 3.14, True]
Appended List: [1, 2, 3, 4, 5, 6]
Extended List: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Inserted List: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Removed List: [0, 1, 2, 3, 4, 5, 7, 8, 9]
Popped Item: 9
Deleted List: [1, 2, 3, 4, 5, 7, 8]
Concatenated List: [1, 2, 3, 4, 5, 6]
Squared List: [1, 4, 9, 16, 25, 49, 64]
Even Numbers: [2, 4, 8]
apple
banana
cherry
orange
Index: 0, Fruit: apple
Index: 1, Fruit: banana
Index: 2, Fruit: cherry
Index: 3, Fruit: orange
apple
banana
cherry
orange

Python Dictionary

In [ ]:
#Creating a Dictionary
person = {
    'name': 'Pias',
    'age': 25,
    'city': 'Calgary'
}
print('Person:',person)

#Accessing Elements
# we can use either [] or use get () method
# using get() is safer because it prevents key error
print(person['name'])
print(person.get('age'))
print(person.get('profession','unknown'))

# Adding a new key-value pair
person['profession'] = 'Engineer'
#Changing an existing value
person['age']=27
print(person.get('age'))
print(person.get('profession'))

#Removing an element using del
del person['city']
print(person)
#Remove Element using Pop
age = person.pop('age')
print('age')
#Remove using Popitem
item= person.popitem()
print('person')

# Loop through the keys
for key in person:
    print(key, person['name'])
#Loop through keys and values
for key, value in person.items():
    print(key, value)
#Dictionary Comprehension
sqaures = {x: x*x for x in range(1,6)}
print(sqaures)

Person: {'name': 'Pias', 'age': 25, 'city': 'Calgary'}
Pias
25
unknown
27
Engineer
{'name': 'Pias', 'age': 27, 'profession': 'Engineer'}
age
person
name Pias
name Pias
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Python Tuples

In [ ]:
#creating a touple
numbers = (1,2,3,4,5)
print(numbers)

#slicing
print(numbers[1:4])

#built in methods
print(numbers.count(2))
print(numbers.index(3))

(1, 2, 3, 4, 5)
(2, 3, 4)
1
2

Python Sets

In [ ]:
#creating a set
fruits = {'apple', 'banana', 'cherry'}
print(fruits)

#creating a set from a list
numbers = [1,2,3,4,5]
numbers_set = set(numbers)
print(numbers_set)

#creating empty set
empty_set = set()
print(empty_set)

#adding elements
fruits.add('orange')
print(fruits)

#removing elements
fruits.remove('banana')
print(fruits)

#Remove and return an arbitary set element using pop()
removed_element = fruits.pop()
print(removed_element)
print(fruits)

#set operations
set1 = {1,2,3,4}
set2 = {3,4,5,6}

#union
union_set = set1.union(set2)
print(union_set)

#intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

#difference
difference_set = set1.difference(set2)
print(difference_set)

#symmetric difference
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

#creating frozen set
frozen_set = frozenset(fruits)
print(frozen_set)

{'apple', 'cherry', 'banana'}
{1, 2, 3, 4, 5}
set()
{'apple', 'cherry', 'orange', 'banana'}
{'apple', 'cherry', 'orange'}
apple
{'cherry', 'orange'}
{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}
frozenset({'cherry', 'orange'})

Python Functions

In [ ]:
#define a function to add two numbers
def add(x,y):
  return x+y
def sub(x,y):
  return x-y
def mul(x,y):
  return x*y
def div(x,y):
  if y == 0:
    return "Cannot divide by zero"
  else:
    return x/y

#main program for arithmatic functions
def main():
  print('Addition:', add(5,3))
  print('Subtraction:', sub(5,3))
  print('Multiplication:', mul(5,3))
  print('Division:', div(5,3))

if __name__ == '__main__':
  main()

Addition: 8
Subtraction: 2
Multiplication: 15
Division: 1.6666666666666667

In [ ]:
import math

def area_of_circle(radius):
  return math.pi * radius**2
print(area_of_circle(5))

78.53981633974483

In [5]:
#Special Functions
add = lambda x,y: x+y
print(add(5,3))

numbers = [1,2,3,4,5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

even_numbers = list(filter(lambda x: x%2==0, numbers))
print(even_numbers)

#Generators
def count_up_to(max):
  count = 1
  while count <= max:
    yield count
    count +=1

#using generator
counter = count_up_to(5)
for num in counter:
  print(num)

#Decorators
def logger(func):
  def wrapper(*args, **kwargs):
    print(f"Calling {func.__name__} with args: {args}, kwargs: {kwargs}")
    result = func(*args, **kwargs)
    print(f"{func.__name__} returned: {result}")
    return result
  return wrapper

@logger
def add(x,y):
  return x+y
add(5,3)

8
[1, 4, 9, 16, 25]
[2, 4]
1
2
3
4
5
Calling add with args: (5, 3), kwargs: {}
add returned: 8

8