<a href="https://colab.research.google.com/github/dasaparnabme07/Introduction-to-Python/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#original string
original_string = "Hello"

#attempt to change a character
try:
    original_string[0] = "J"
except TypeError as e:
    print (f"Error:{e}")

# stings can not be changed because its immutable but we can modify the string
modified_string = "J" + original_string[1:]
print("Modified String: ", modified_string)

Error:'str' object does not support item assignment
Modified String:  Jello

In [ ]:
# Indexing
char_at_position_2= original_string[2]
print("Character at index 2:",char_at_position_2)

#slicing
sub_string = original_string[1:4]
print("Substring from index 1 to 4:",sub_string)

Character at index 2: l
Substring from index 1 to 4: ell

In [ ]:
#Concatenating string
greeting = "Hello"
name = "Pias"
full_greeting = greeting + "," + name +"!"
print ("Full Greeting: ", full_greeting)

Full Greeting:  Hello,Pias!

In [ ]:
#Repeating strings
repeated_string = "Pias" * 5
print("Repeated String: ", repeated_string)

Repeated String:  PiasPiasPiasPiasPias

In [ ]:
#String formating using place holders
into_format_name = "My name is{name} and I am {age} years old.".format(name= " Pias", age=25)
print("Formatted String: ", into_format_name)

Formatted String:  My name is Pias and I am 25 years old.

In [ ]:
#f-string with calculation
name = "Pias"
age = 5
formatted_string = f"My name is {name} and I am {age} years old."
print("Formatted String: ", formatted_string)

Formatted String:  My name is Pias and I am 5 years old.

In [ ]:
# f-string with calculation
name = "Pias"
age = 5
square_age= f"{name}'s age squared is {age**2}."
print("f-string with calculation:", square_age)

f-string with calculation: Pias's age squared is 25.

Lists

In [2]:
#python lists
numbers= [1,2,3,4,5]
print("List of numbers:", numbers)

# create a list with mixed datatypes
mixed_list = [1, "Hello", 3.14, True]
print("Mixed List:", mixed_list)

# access elements by index
first_element = mixed_list[0]
print("First Element:", first_element)

#modify elements by index
mixed_list[0] = "World"
print("Modified List:", mixed_list)

#append list
numbers.append(6)
print("Appended List:", numbers)

#extend list
numbers.extend([7,8,9])
print("Extended List:", numbers)

#insert list
numbers.insert(0,0)
print("Inserted List:", numbers)

#remove item
numbers.remove(6)
print("Removed List:", numbers)

#pop item
popped_item = numbers.pop()
print("Popped Item:", popped_item)

#remove an item from specific position
del numbers[0]
print("Deleted List:", numbers)

list_1= [1,2,3]
list_2= [4,5,6]
concatenated_list = list_1 + list_2
print("Concatenated List:", concatenated_list)

#list Comprehension
#create a list of squares from another list
sqaurs = [x**2 for x in numbers]
print("Squared List:", sqaurs)

#Filter the list to include only even numbers
even_numbers = [x for x in numbers if x % 2 == 0]
print("Even Numbers:", even_numbers)

fruits = ['apple', 'banana','cherry', 'orange']
#using simple for loop to traverse the list
for fruit in fruits:
  print(fruit)

#using enumerate to get both index and value
for index, fruit in enumerate(fruits):
  print(f"Index: {index}, Fruit: {fruit}")

#Traverse with a while loop
i= 0
while i<len(fruits):
  print(fruits[i])
  i += 1

List of numbers: [1, 2, 3, 4, 5]
Mixed List: [1, 'Hello', 3.14, True]
First Element: 1
Modified List: ['World', 'Hello', 3.14, True]
Appended List: [1, 2, 3, 4, 5, 6]
Extended List: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Inserted List: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Removed List: [0, 1, 2, 3, 4, 5, 7, 8, 9]
Popped Item: 9
Deleted List: [1, 2, 3, 4, 5, 7, 8]
Concatenated List: [1, 2, 3, 4, 5, 6]
Squared List: [1, 4, 9, 16, 25, 49, 64]
Even Numbers: [2, 4, 8]
apple
banana
cherry
orange
Index: 0, Fruit: apple
Index: 1, Fruit: banana
Index: 2, Fruit: cherry
Index: 3, Fruit: orange
apple
banana
cherry
orange

Python Dictionary